body{
    background-color: #9E9E9E;
}

.menu-grid {
    /* overflow: scroll; */
    background-color: white;
    border: 3px solid black;
    /* left: 30px;
    
    width: 700px;
    height: 800px; */
   height: 800px;
}

 .col-sm-2.menu1{
    background-color: black;
    color: white;
    height: 139.22px;
}
.col-sm-4.menu1{
    background-color: black;
    color: white;
    height: 139.22px;
}

.select-grid {
    background-color: white;
    border: 3px solid black;

    /* right: 30px;

    width : 500px;
    height : 550px; */
    
    height: 600px;

}


.pay-grid{
    background-color: white;
    border: 3px solid black;
    /* margin-top: 50px;

    right: 30px;
    bottom: 5px;
    
    width: 500px;
    height: 200px; */

    height: 176px;
}

.selected-menu{
    font-size: 13px;
}

.name-tag, .qty-tag, .price-tag{
    border: 1px solid black;
}



















.swiper-container {
    width: 100%;
    height: 100%;
}

/* swiper 위아래설정 */
.swiper-slide {
    font-size: 18px;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px;
}


/* swiper 좌우 설정 */
.side {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }